/* this for nav bar  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background-color: #1F2544;
  font-family: "Fira Sans Extra Condensed", serif;
  font-weight: 500;
  font-style: normal;
  background-image: url(/assets/images/[4K]\ Palm\ Tree\ Loop\ -\ Glowing\ Tubes\ -\ SICK\ Visuals.mp4);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  font-family: myFirstFont;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #474F7A;
  padding: 10px 20px;
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar .logo {
  font-weight: bold;
  font-size: 1.2em;
}
.navbar .nav-links {
  display: flex;
}

/* this for nav section */


/* form */
:root {
  --colorTexteForm: wheat;
}

form {
  margin-left: 300px;
  background-color: #474f7a;  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  color: var(--colorTexteForm);
}
.DEV1 {
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
  width: 90%;
  gap: 20px;
  flex-direction: row;
  height: 40%;
  justify-content: center;
  justify-content: space-evenly;
}
.input {
  border-radius: 3px;
  width: 40%;
  height: 4rem;
  background-color: rgba(240, 234, 234, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input1 {
  border-radius: 3px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
}
.img {
  width: 60px;
  box-shadow: 20px 10px 20px 20px rgb(119, 114, 114) inset;
}
#image {
  width: 12px;
  display: none;
}
.DN {
  display: none;
}
.DEV2 {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  height: 40%;
  justify-content: center;
  justify-content: space-evenly;
}
.input2 {
  width: 70px;
  border-radius: 3px;
  height: 45px;
  background-color: rgba(248, 248, 248, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.in2 {
  border-radius: 3px;
  width: 40px;
}
.submi {
  margin: 10px;
  width: 100px;
  height: 40px;
}

.contair-pransipal {
  display: flex;
height: 2px;  
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-changement {
  height: auto;
  width: 30rem;
  
}
.imge-bg {
  z-index: -1;
  position: relative;
  display: flex;
  background: #a48b8b00;
}

.cart {
  width: 7rem;
  height: 8.5rem;
  background-size: cover;
  padding-bottom: 10px;
  
}
.attack {
  padding: 10px;
  height: 10.9rem;
  width: 98%;
  display: flex;

  justify-content: space-evenly;
}
.cm {
  padding: 10px;
  width: 98%;
  height: 10.9rem;
  display: flex;
  justify-content: space-evenly;
}
.df{
  width: 98%;
  height: 11rem;  display: flex;
  justify-content: space-around;

}
.GK{
  padding: 10px;
  height: 11.2rem;
  display: flex;
  justify-content: center;
}
.dfr{
  padding: 10px;
  width: 110px;
  display: flex;
  justify-content: space-around;
  background-size: cover;
  background-image: url(/assets/images/Design\ sans\ titre\ \(1\)\ \(1\).svg);

  
}
.dfr:hover{
  background-color:#ffd0ec81 ;
  
}


.container-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  display: block;
  gap: 10px;
  justify-content: space-evenly;
}
.container-ollPlyers{
  height: 0PX;
  width: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  row-gap: 20px;
}



/* this for cart */
.olcard{
background-image: url(/assets/images/Design\ sans\ titre\ \(1\)\ \(1\).svg); 
background-size: cover;
background-repeat: no-repeat;
width: 140px; 
height: 195px;
position: relative;
bottom: 30px;
right: 16px;
}
.btn2{  
  align-items: end;
  width:10%;
  height: 2rem;
  position: relative;
  top: 35%;
  left: 90%;
  }
  .just-cart{
    display: block;
    position: relative;
    margin: auto;
    width: 90%;
  
  }

.card-header{
  position: absolute;
  margin-top: 19%;
  left: 10px;

}
.player-stats{
  display: flex;
  justify-content: center;
}
.player-name{
  text-align: center;
  padding-top: 0px; 
}

.player-image{
  margin-top: 10px;
  display: flex;
  justify-content: end;
}


.card-footer{

  display: flex;
  height: 15px;
  justify-content: center;
  justify-content: space-evenly;
}
.logo{
  margin-left: 10px;

}
.logo img{
  width: 12px;
 
}

.stat{
  text-align: center;
  font-size: 8px;
  height: 20px;
  margin: 2px;

}







@media screen and (max-width: 375px) {
  .contair-pransipal {
    display: flex;
    background-color: rgb(0, 0, 0);
    gap: 10px;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container-changement {

    width: 100%;
    
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b9c1ca;
    padding: 10px 20px;
    width: 900px;
    color: white;
  }
  
}



/* this desin for cart in tairan */

  
  .btn2{  
    background: rgb(200, 209, 152);
    align-items: end;
    width:10%;
    height: 2rem;

    

    }
    .just-carte{
      display: block;
      width: 6.6rem;
      position: relative;
    }
  
  .card-headere{
   position: absolute;
   margin-top: 7px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   top: 10px;;

  }
  .player-statse{
    display: flex;
    justify-content: center;
    justify-content: space-between;

  
  }
  .player-namee{
    text-align: center;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .player-imagee{
display: flex;
justify-content: end;
width: 100%;
  }
  .player-imagee img{
    width: 86%;
  }
  .card-footere{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 100%;

  }
  
  .logoe img{
   width: 20px;
  }
  
  .state{
    text-align: center;
    color: #eef0f2;
    font-size:50%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
  }




  .container-changement{
    display: flex;
    flex-wrap: wrap;
    height: min 1rem; ;
    background-color: #474F7A;
    gap: 26px;
  }
  .container-changement .olcards{
    background-image: url(/assets/images/Design\ sans\ titre\ \(1\)\ \(1\).svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px; 
    height: 218px;
  }
  .container-changement .just-carte{
  width: 90%;
  position: relative;
  top: 10px;
  left: 9px;
  
  }
  .container-changement .player-statse{
    width:100%;
    left: 100px;
  }  
  .container-changement .player-statse .state{
    width:100%;
    left: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }  
  .container-changement .card-headere{
    top: 20px;
    left: 10px;
    color: wheat;
    width: 94%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  } 
  .container-changement .player-namee{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
  }  
  .deletcart{
    width: 100px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 550PX;
    
  }
  .loger img{
width: 100px;
  }
  .deletcart{
    width: 100px;
    height: 20px;
    background-color: red;
display: flex;
justify-content: center;
  }

  /* THIS FOR CART GK  */


  